body {
  padding-top: 50px;
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;

  justify-content: center;
  align-items: center;
}
.starter-template {
  padding: 40px 10px;
  color: black;
  text-align: center;
}

.navbar-inverse {
	background: #2E2F31;
	border: 0;
}

.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #4484CE;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #256BC0;
}
.dropdown-menu li a {
	padding: 10px;
}